<h1><%= product.title %></h1>
<form action="<%= product.id ? `save/${product.id}` : "save" %>" method="post" class="product-edit-form">
    <div class="product-edit-fields">
        <div class="field">
            <label for="item-title">Title:</label>
            <input id="item-title"
                   type="text"
                   name="title"
                   value="<%= product.title %>" />
        </div>

        <div class="field">
            <label for="item-description">Description:</label>
            <textarea id="item-description"
                      rows="3"
                      name="description"
            ><%= product.description %></textarea>
        </div>

        <div class="field">
            <label for="item-price">Price:</label>
            <input id="item-price"
                   type="text"
                   name="price"
                   value="<%= product.price %>" />
        </div>

        <% if (product.id) { %>
        <div class="field">
            <label for="item-new-images">New images URLs (use line break or a comma):</label>
            <textarea id="item-new-images"
                      rows="3"
                      name="newImages"
            ></textarea>
        </div>
        <% } %>
    </div>

    <% if (product.comments?.length) { %>
        <h2>Comments</h2>
        <div class="product-edit-comments">
            <% product.comments.forEach(function(comment) { %>
                <%- include('product-comment', { comment: comment }) %>
            <% }); %>
        </div>
    <% } %>

    <% if (product.images?.length) { %>
        <h2>Images</h2>
        <div class="product-edit-images">
            <% product.images.forEach(function(image) { %>
                <%- include('product-image', { image: image }) %>
            <% }); %>
        </div>
    <% } %>

        <% if (similarProducts?.length) { %>
            <h2>Similar products</h2>
            <div class="product-edit-similar">
                <% similarProducts.forEach(function(similarProduct) { %>
                    <%- include('product-similar', { item: similarProduct }) %>
                <% }); %>
            </div>
        <% } %>

        <% if (notSimilarProducts?.length) { %>
            <h2>Other products</h2>

            <div>
                <label for="similarToAdd">Add similar products:</label>
            </div>

            <select name="similarToAdd" id="similarToAdd" class="not-similar-selector" multiple>
                <% notSimilarProducts.forEach(function(notSimilarItem) { %>
                    <option value="<%= notSimilarItem.id %>">
                        <%= notSimilarItem.title %>
                    </option>
                <% }); %>
            </select>
        <% } %>



    <div class="product-edit-footer">
        <button type="submit">Save changes</button>
        <% if (product.id) { %>
        <a href="<%= `remove-product/${product.id}` %>">Delete product</a>
        <% } %>
    </div>
</form>
