<div>
    <p>
        <strong><%= item.title %></strong>
        <br />
        <span><%= item.price %></span>
    </p>

    <div class="remove-mark">
        <label for="<%= item.id %>">Mark to remove</label>
        <input type="checkbox"
               id="<%= item.id %>"
               value="<%= item.id %>"
               name="similarToRemove">
    </div>
</div>
